@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/glyphicons-halflings-regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bt_tvlight';
    src: url('fonts/bttv_lt-webfont.eot');
    src: url('fonts/bttv_lt-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bttv_lt-webfont.woff') format('woff'),
        url('fonts/bttv_lt-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bt_tvregular';
    src: url('fonts/bttv_rg-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/bttv_rg-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/bttv_rg-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/bttv_rg-webfont.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bt_tvbold';
    src: url('fonts/bttv_bd-webfont.eot');
    src: url('fonts/bttv_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/bttv_bd-webfont.woff') format('woff'),
        url('fonts/bttv_bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bt-icons';
    src: url('fonts/bt-icons.eot');
    src: url('fonts/bt-icons.eot?#iefix') format('embedded-opentype'),
        url('fonts/bt-icons.woff') format('woff'),
        url('fonts/bt-icons.ttf') format('truetype'),
        url('fonts/bt-icons.svg#bt-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
i.icon {
    display: inline-block;
    vertical-align: initial;
}
.icon-right-chevron:before {content: "m";}
.icon-down-chevron:before {content: "k";}
.icon-up-chevron:before {content: "j";}
[class^="icon-"]:before, [class*=" icon-"]:before {vertical-align: -20%;}
[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "bt-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.preloader-container {
    text-align: center;
    margin-top:20%;
}

.editPassword ul{color: black;float: left; width: 100%;}
.leftdetailsec { display: inline-block; width: 40%; color: black; text-align:right;}
.rightdetailsec {display: inline-block; width: 58%;}
.rightdetailsec input { width:100%; height: 35px; border-radius: 5px; border: 1px solid #ccc;}
.howToPswd, .howToPswd .icon-up-chevron {color: #d63181;}
.bolder { font-weight: bold;}
.btId { display: inline-block;}
.userName, .padLeft5 { padding-left:5px;}
.detailsSection {margin-bottom: 15px;padding-top: 10px;}
.showPswd { float: right; cursor:pointer;}
.contBtn {background: #d63181; color: #fff; min-height: 35px; border: none; float: right; border-radius: 4px; padding: 0 25px; margin: 25px 0;}
/* .editPassword .col-xs-12 {padding: 4px;} */

.paddingtop37 {
	padding-top:7px;
	padding-left:0
}
.linkdata { 
	background: #EEE9E8; 
	margin-top:10px; 
	border-top: 1px solid #C1BDBC;
	border-bottom: 1px solid #C1BDBC;
	width: 107%;
    margin-left: -20px;
}
.linkdata p {
	padding:15px 15px 10px 20px;
}
.pswdinfo {
	padding:0;
}
.showstatus {
	width:100%;
	float:left;
	padding-bottom:8px;
}
.progressdiv {
	width:100%;
	float: left;
}	
.prgs-padding {
	padding:0;
	height:20px;
	background-color: #EEE9E8;
	margin-bottom:0;
	border-radius:25px;
}
.status-show {
	background:#FA0509;
}
.pswd-info {
	float:left;
	width:100%;
	padding:0;
	margin-top:20px;
}
.icon-clock-green {
    background: url(../../assets/images/green-tick.png) no-repeat;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    width: 20px;
	float:right;
	margin-top:-10px;
	position:relative;
	margin-right:10px;
	background-size:100% 100%;
}

.loading{
    padding-top: 12%;
    height:1000px;
    z-index: 9002;
    background: white;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-left: -15px;
}
.schedule-icon {
	float:right;
	margin-top:-18px;
	position:relative;
}
.inline-alert-warning {
    background: #de332a;
    color: #fff;
    margin-top: 10px;
}
.inline-alert-notice {
    height: 80px;
	width:100%;
    position: relative;
    display: table;
}
.inline-alert-warning--full-yellow {
    background: #FFCC00;
    color: #000;
	height:80px;
	position: relative;
    display: table;
	width:100%;
	margin-top:10px;
}
.sprite.warning-arrow {
    background: url(../../assets/images/icon-sprite.png) no-repeat -0px -242px;
    position: absolute;
    top: -10px;
    left: 15px;
	width: 24px;
    height: 11px;
}
.inline-alert-warning .inline-alert-notice--text {
	padding-left:74px;
}
.inline-alert-notice--text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 90px;
    line-height: 1.2em;
    font-size: 0.95em;
}
.rightdetailsec.warning-inline {
	left: 15px;
    top: 10px;
}
.sprite.warning-inline {
    background: rgba(0, 0, 0, 0) url(../../assets/images/alert-icon-red-banner.png) no-repeat scroll 0px 0px;
	height: 50px;
    margin: -16px 10px 10px -58px;
    width: 50px;
	position: absolute;
}
.inline-alert-warning--full-yellow .warning-inline {
	background: rgba(0, 0, 0, 0) url(../../assets/images/black-exclamation.png) no-repeat scroll -8px -8px;
}
.inline-alert-warning--full-yellow .inline-alert-notice--text {
	padding-left:76px;
}
.inline-alert-warning--full-yellow .warning-arrow {
	background: url(../../assets/images/icon-sprite.png) no-repeat -26px -242px;
}
/* .sprite.alert-error {
	margin: -7px 10px 10px -58px;
} */
.progress-meter > .meter {
	position: relative;
	float: left;
	min-height: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(160, 160, 160);
	border-left-width: 2px;
}
.progress-meter {
    margin-top: -7px;
    padding-left: 0;
    padding-right: 0;
	float:left;
}

.progress-meter  .meter:first-child{
	border-left-width: 0;
}
.progress-meter > .meter > .meter-text {
	position: absolute;
	display: inline-block;
	bottom: -20px;
	width: 100%;
	font-weight: 700;
	font-size: 0.85em;
	color: rgb(160, 160, 160);
	text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
	text-align: right;
}
.btn.set-butt[disabled] {
    background-color: #d63181;
    opacity: 0.5;
    color: #fff;
    border-color: #d63181;
}

.main-editpswd {
	padding-bottom:20px;
}
/* End of Edit Password CSS by Prasanna*/

/* Reset Password CSS by Prasanna*/
.resetUsername{ padding: 20px 0 10px 20px;}
.resetpswd .col-xs-12, .resetpswd .col-sm-3, .resetpswd .col-sm-9, .resetpswd .col-sm-1, .resetpswd .col-sm-2 {padding: 0;} 
.resetpswd select { width: 65px; height: 32px;border-radius: 4px;}
.padTop35 {padding-top: 35px;}
.width10 {width: 10%; display: inline-block;}
.width20 {width: 9%; height: 32px;border-radius: 4px;}
.width50 {width: 40%; height: 32px;border-radius: 4px;}
.resetpswd .detailsSection {
	padding-left: 15px;
    padding-right: 15px;
}
.detailsSection, .subsection {
	padding-left:0;
	padding-right:0;
	padding-top:0;
}
.showpswd-icon {
		float:right;
		margin-top:-26px;
		right:10px;
	}
/* End of Reset Password CSS by Password */
@media (min-width: 320px) and (max-width: 767px) {
	.container{
        width:100%;
    }
	.main-editpswd {padding-bottom:8px;}
	.width10 {width: 30%;}
	.padTop35 {padding:0;}
	.width20, .width50 {width: 100%;}
	.contBtn {float: left;}
	.modal-header {
		padding: 10px;
	}
	.leftdetailsec {
		width:50%;
		padding-left:0;
		padding-right:10px;
		text-align:left;
	}
	.paddingtop37{padding-top:0; padding-bottom:10px;}
	.rightdetailsec {padding:0; width:50%;}
	.password-rightdetailsec {width:100%;}
	.rightdetailsec input {height:40px; border: 1px solid #ccc;}
	.paddingtop40 {padding-top:40px;}
	.linkdata {width:112.5%;}
	.icon-clock-green {
		margin-top:-11px;
	}
	.inline-alert-notice, .inline-alert-warning--full-yellow {
		width: 109.5%;
		margin-top:16px;
		margin-left:-16px;
	}
	.detailsSection {
		padding-left:8px;
		padding-right:8px;
	}
	.btn-width100 .btn-profile {
		width:100%;
	}
	.sprite.warning-arrow {
		left:33px;
	}
	.resetpswd .btn-width100 {
		padding-left:15px;
		padding-right:15px;
		margin-top:0;
	}
	.padding-top15p {
		padding-top:15px !important;
	}
	.showpswd-icon {
		margin-top:-28px;
	}
	hr {
		margin-top:0;
		margin-bottom:0;
	}
	.rightdetailsec .pswd-cofirm-icon {
		margin-top:-30px;
	}
}
@media (min-width: 414px) and (max-width: 736px) and (orientation: portrait) {
	.linkdata {width:111%;}
	.inline-alert-notice, .inline-alert-warning--full-yellow  {
		width:108%;
	}
}
@media (min-width: 414px) and (max-width: 736px) and (orientation: landscape) {
	.linkdata {width:106%;}
	.inline-alert-notice, .inline-alert-warning--full-yellow{
		width:104.5%;
	}
}
@media (min-width: 320px) and (max-width: 667px) and (orientation: landscape) {
	.linkdata {width:106.5%;}
	.inline-alert-notice, .inline-alert-warning--full-yellow {
		width:105%;
	}
}
@media (min-width: 768px) and (max-width: 980px) {
	.container{
		width:100%;
    }
	
}
@media (min-width: 981px) and (max-width: 1024px) {
	.padding-top15p {
		padding-top:15px !important;
	}
}
.modal-header {
	padding:20px;
}
.fontsizep {
	font-size: 20px;
}
.btnincrease:hover {
	color:#d63181;
	opacity:1;
}
.btnincrease {
	opacity:1;
	font-size:30px;
	color:#d63181;
}
.li-lineheight .btnincrease {
	margin-top: -15px;
    margin-right: -11px;
}
.li-lineheight li {
	margin-bottom:10px;
}
.title-subsection {
	padding-top:30px;
}
.password-rightdetailsec {
	float:right;
	padding-right:0;
}
.rightdetailsec  {padding-right:0;}

.modal-content a:hover, .modal-content a:focus{
	text-decoration: none;
	color: #d63181;
}
.modal-content a {
	padding-bottom:10px;
}
.editPassword ul li {
	margin-bottom:9px;;
}
.forgotten-link {
	color:#d63181;
	cursor:pointer;
}
.forgotten-link:focus, .forgotten-link:hover {
	text-decoration:none;
	color:#d63181;
}
.page-title { margin-bottom:0; padding-left:15px; }
h1.page-title:after {
	background: #d63181 none repeat scroll 0 0;
	content: "";
	display: block;
	height:5px;
	margin-top:16px;
	width:120px;
	}
	
	
.edit-link {
	color: #fff;
	text-decoration:underline;
	cursor:pointer;
	margin-right:10px;
}
.edit-link:hover {
	color: #fff;
}
.editbutton-header {
	float:right;
	margin-top: -17px;
}
.edit-icon-clock-green {
	background: url(../../assets/images/tick-icon.png) no-repeat;
	background-size:100% 100%;
	margin-top:-3px;
} 
.pswd-cofirm-icon {
	margin-top:-27px;
}

.pswdInst{
	margin-top:15px;
}



/* Css for Password Strength */

.edit-personal-details div.field-input span {
    padding-left: 0px;
    padding-right: 0px;
}

.psw-strength {
    display: block;
    clear: both;
}
.prgs-padding {
	background:#ccc;
}
.psw-strength {
    margin-top: 10px;
    margin-bottom: 10px;
}
.field-input {
	padding:0
	
}
.height20{
	height: 20px;
}
@media (min-width: 768px)
.col-sm-16 {
    width: 100%;
}
.create-passowrd .edit-personal-details div.field-input span:last-child {
    font-style: normal;
}
.edit-personal-details div.field-input span:last-child {
    padding-left: 0px;
    padding-right: 0px;
}
.edit-personal-details div.field-input span span {
    padding-left: 0px;
    padding-right: 7px;
}
.psw-strength span span:first-child {
    line-height: 20px;
    font-size: 0.9em;
}
.create-passowrd .progress {
    margin-bottom: 0;
}
.progress {
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    display: block;
}
.progress {
    background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
    background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
	border-radius:25px;
}
.create-passowrd .edit-personal-details div.field-input span:last-child {
    font-style: normal;
}
.edit-personal-details .group-details, .edit-password .group-details, .edit-recovery-contact-details .group-details {
    width: 100%;
    margin: 20px 0px;
    position: relative;
    display: table;
    border-collapse: separate;
}
.group-details{
	float: left;
    width: 100%;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar.white {
	background: rgba(243, 26, 21, 1.0);
    background: -moz-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 26, 21, 1.0)), color-stop(49%, rgba(243, 26, 21, 1.0)), color-stop(50%, rgba(243, 26, 21, 1.0)), color-stop(100%, rgba(243, 26, 21, 1.0)));
    background: -webkit-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: -o-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: -ms-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: linear-gradient(to bottom, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f31a15', endColorstr='#f31a15', GradientType=0 );
}

 .progress-bar.amber { 
	width:66%;
    background: rgba(251,172,2, 0.8);
    background: -moz-linear-gradient(top, rgba(251,172,2, 0.8) 0%, rgba(251,172,2, 0.8) 49%, rgba(251,172,2, 0.8) 50%, rgba(251,172,2, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,172,2, 0.8)), color-stop(49%, rgba(251,172,2, 0.8)), color-stop(50%, rgba(251,172,2, 0.8)), color-stop(100%, rgba(251,172,2, 0.8)));
    background: -webkit-linear-gradient(top, rgba(251,172,2, 0.8) 0%, rgba(251,172,2, 0.8) 49%, rgba(251,172,2, 0.8) 50%, rgba(251,172,2, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(251,172,2, 0.8) 0%, rgba(251,172,2, 0.8) 49%, rgba(251,172,2, 0.8) 50%, rgba(251,172,2, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(251,172,2, 0.8) 0%, rgba(251,172,2, 0.8) 49%, rgba(251,172,2, 0.8) 50%, rgba(251,172,2, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(251,172,2, 0.8) 0%, rgba(251,172,2, 0.8) 49%, rgba(251,172,2, 0.8) 50%, rgba(251,172,2, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBAC02', endColorstr='#FBAC02', GradientType=0 );
}
.progress-bar.red { 
	 width: 33%;
    background: rgba(243, 26, 21, 1.0);
    background: -moz-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243, 26, 21, 1.0)), color-stop(49%, rgba(243, 26, 21, 1.0)), color-stop(50%, rgba(243, 26, 21, 1.0)), color-stop(100%, rgba(243, 26, 21, 1.0)));
    background: -webkit-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: -o-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: -ms-linear-gradient(top, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    background: linear-gradient(to bottom, rgba(243, 26, 21, 1.0) 0%, rgba(243, 26, 21, 1.0) 49%, rgba(243, 26, 21, 1.0) 50%, rgba(243, 26, 21, 1.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f31a15', endColorstr='#f31a15', GradientType=0 );
}
 .progress-bar.green { 
	 width: 100%;
    background: rgba(146, 227, 83, 1.0);
    background: -moz-linear-gradient(top, rgba(146, 227, 83, 1.0) 0%, rgba(146, 227, 83, 1.0) 49%, rgba(146, 227, 83, 1.0) 50%, rgba(146, 227, 83, 1.0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(146, 227, 83, 1.0)), color-stop(49%, rgba(146, 227, 83, 1.0)), color-stop(50%, rgba(146, 227, 83, 1.0)), color-stop(100%, rgba(146, 227, 83, 1.0)));
    background: -webkit-linear-gradient(top, rgba(146, 227, 83, 1.0) 0%, rgba(146, 227, 83, 1.0) 49%, rgba(146, 227, 83, 1.0) 50%, rgba(146, 227, 83, 1.0) 100%);
    background: -o-linear-gradient(top, rgba(146, 227, 83, 1.0) 0%, rgba(146, 227, 83, 1.0) 49%, rgba(146, 227, 83, 1.0) 50%, rgba(146, 227, 83, 1.0) 100%);
    background: -ms-linear-gradient(top, rgba(146, 227, 83, 1.0) 0%, rgba(146, 227, 83, 1.0) 49%, rgba(146, 227, 83, 1.0) 50%, rgba(146, 227, 83, 1.0) 100%);
    background: linear-gradient(to bottom, rgba(146, 227, 83, 1.0) 0%, rgba(146, 227, 83, 1.0) 49%, rgba(146, 227, 83, 1.0) 50%, rgba(146, 227, 83, 1.0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92e353 ', endColorstr='#92e353 ', GradientType=0 );
}
.valid-icon {
    width: 20px;
    height: 20px;
    background: url(../../assets/images/green-tick.png) center center no-repeat;
    /* display: inline-block; */
    /* text-indent: -9999px; */
    position: absolute;
    top: 10px;
    right: 10px;
    background-size: 100% 100%;
	}
.pswdinfonew {
	padding:0
}
/* footer css */
.footerContainer {margin: 0 -30px;}
.footer {
    background: none repeat scroll 0 0 #ebebeb;
    border: 1px solid #c2c5c6;
    clear: both;
    float: none;
    font: 14px/1.2em Tahoma, Arial, Verdana, sans-serif;
    margin: 0 auto; /*max-width:980px;*/
}
.preFooter {
    height: 40px;
    clear: both;
    float: none;
    margin: 0 auto; 
}
#footer ul {padding: 5px 0; width: 100%; margin-bottom: 0 !important;}
#footer ul li {display: inline-block; height: 32px; overflow: hidden;}
#footer ul li a {
    color: #005293;
    display: block;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
#footer ul li a {
    color: #005293;
    display: block;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}
#footer .bt-logo {
    background-image: url("../../assets/images/bt-logo.png");
    display: block;
    height: 32px;
    margin-left: 8px;
    margin-top: 0;
    width: 65px;
}
.spinning-wheel{padding: 80px 0px;text-align:center; border-bottom: 1px solid #bcbec0;color:#1d81bb;}
.no-border {border:none;}
.img-width{width:100px;}
.horizontal-divider{border-bottom: 15px solid #ccc; padding:0;}
.editPassword {padding:0; float:left;}
.pswd-info ul {
	padding-left:19px;
	margin-bottom:10px;
}
.pswd-info ul li {
	margin-bottom:2px;
}
.divider1 {border-bottom: 1px solid #ccc; padding:0; float:left; width:100%;}
.subsection {
    margin: 0 auto;
	float:none;
}

.pass_error{
color:red;
}
