

<button tooltip="{{tooltipMessage}}" tooltip-placement="right"
		tooltip-popup-delay="300"
		class="glyphicon glyphicon glyphicon-chevron-left btn btn-primary animate-hide sidebar-toggle-button"
		id="lefttogglebutton" type="button" ng-click="hideSidebar()" ></button>
		
		<button tooltip="{{tooltipMessage}}" tooltip-placement="right"
		tooltip-popup-delay="300"
		class="glyphicon glyphicon glyphicon-chevron-left btn btn-primary animate-hide right-sidebar-toggle-button "
		id="righttogglebutton" type="button" ng-click="showSideBar()"></button>
		
<div class="sidebar" id="rightSideBar">



    <ul id="customNavigation">
        <li><a ui-sref="home.dashboard.commondashboard" class="selected"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Dashboard</a></li>
        <li><a ui-sref="home.dashboard.blank"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>Create Company</a></li>
        <li><a ui-sref="home.dashboard.upload"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>Upload</a></li>
        <li><a ui-sref="home.dashboard.createNewCompany"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> Create Company</a></li>
        <li><a ui-sref="home.dashboard.user"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>User</a></li>
        <li><a ui-sref="home.dashboard.userplan"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>UserPlan</a></li>
        <li><a ui-sref="home.dashboard.createUser"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i>Create User</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        <li><a href="#"><i class="fa fa-adjust fa-fw" aria-hidden="true"></i> List All Comapny</a></li>
        
          
       
    </ul>
</div>
